.other-content-a
{

}


.other-content-a__inner
{

}


.test 
{

}


.test__inner 
{

}

.other-content-b 
{

}

.other-content-b__more
{

}



.test-2 
{

}

.test-2__more
{
    
}




.other-content-c 
{

}


.other-content-c__more
{

}


.test-6
{
  --scope-hash: 9fdc57; /* Collision-prevention ID */
  background-color: black;
  color:red;
}


.test-6__inner:first-child .test-6__more:not(:last-child) + .test-6__content * 
{

}




.other-content-d
{

}


.other-2
{
  --scope-hash: 79ba44; /* Collision-prevention ID */
  padding:3rem;
}



.other-content-e 
{
    
}


.test-3
{
}
